#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };

        rgb_layer {
            bindings = <&mo 7>;
            key-positions = <42 43 44>;
        };

        win_key {
            bindings = <&kp LEFT_META>;
            key-positions = <42 47>;
            layers = <0>;
        };

        meta_key {
            bindings = <&kp LEFT_ALT>;
            key-positions = <42 47>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer_win {
            display-name = "Win";
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E             &kp R  &kp T                                     &mmv MOVE_UP                     &kp Y        &kp U  &kp I         &kp O    &kp P     &kp BACKSPACE
&kp TAB         &kp A  &kp S  &kp D             &kp F  &kp G                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H        &kp J  &kp K         &kp L    &kp SEMI  &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C             &kp V  &kp B        &kp SPACE                    &mmv MOVE_DOWN                   &kp N        &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LEFT_CONTROL  &mo 2  &lt 5 SPACE                                                                &lt 5 SPACE  &mo 4  &kp LEFT_ALT
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_BRACKET LEFT_BRACKET>;
        };

        default_layer_mac {
            display-name = "Mac";
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E             &kp R  &kp T                                     &mmv MOVE_UP                     &kp Y        &kp U  &kp I             &kp O    &kp P     &kp BACKSPACE
&kp TAB         &kp A  &kp S  &kp D             &kp F  &kp G                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H        &kp J  &kp K             &kp L    &kp SEMI  &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C             &kp V  &kp B        &kp SPACE                    &mmv MOVE_DOWN                   &kp N        &kp M  &kp COMMA         &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LEFT_CONTROL  &mo 3  &lt 5 SPACE                                                                &lt 5 SPACE  &mo 4  &kp LEFT_COMMAND
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_BRACKET LEFT_BRACKET>;
        };

        number_layer_win {
            display-name = "NUMBER";
            bindings = <
&kp ESCAPE      &kp N1  &kp N2  &kp N3     &kp N4  &kp N5                                 &msc SCRL_UP                     &kp N6       &kp N7         &kp N8         &kp N9     &kp N0  &kp DELETE
&trans          &trans  &trans  &trans     &trans  &trans                 &msc SCRL_LEFT  &mkp RCLK       &msc SCRL_RIGHT  &kp LEFT     &kp DOWN       &kp UP         &kp RIGHT  &trans  &kp ENTER
&kp LEFT_SHIFT  &trans  &trans  &trans     &trans  &trans       &trans                    &msc SCRL_DOWN                   &trans       &trans         &trans         &trans     &trans  &kp RIGHT_SHIFT
                                &kp LCTRL  &trans  &lt 5 SPACE                                                             &lt 5 SPACE  &kp LEFT_META  &kp RIGHT_ALT
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        number_layer_mac {
            display-name = "NUMBER";
            bindings = <
&kp ESCAPE      &kp N1  &kp N2  &kp N3     &kp N4  &kp N5                                 &msc SCRL_UP                     &kp N6       &kp N7        &kp N8         &kp N9     &kp N0  &kp DELETE
&trans          &trans  &trans  &trans     &trans  &trans                 &msc SCRL_LEFT  &mkp RCLK       &msc SCRL_RIGHT  &kp LEFT     &kp DOWN      &kp UP         &kp RIGHT  &trans  &kp ENTER
&kp LEFT_SHIFT  &trans  &trans  &trans     &trans  &trans       &trans                    &msc SCRL_DOWN                   &trans       &trans        &trans         &trans     &trans  &kp RIGHT_SHIFT
                                &kp LCTRL  &trans  &lt 5 SPACE                                                             &lt 5 SPACE  &kp LEFT_ALT  &kp LEFT_META
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
&kp GRAVE   &kp EXCL       &kp DOUBLE_QUOTES  &kp LS(NUMBER_3)  &kp DOLLAR  &kp PRCNT                      &trans          &kp CARET    &kp AMPS  &kp ASTRK  &kp LPAR          &kp RPAR     &kp MINUS
&trans      &trans         &trans             &trans            &trans      &trans                 &trans  &trans  &trans  &trans       &trans    &trans     &kp LEFT_BRACKET  &kp RBKT     &kp EQUAL
&kp LSHIFT  &kp BACKSLASH  &trans             &trans            &trans      &trans       &trans            &trans          &trans       &trans    &kp LBRC   &kp SQT           &kp AT_SIGN  &kp RSHIFT
                                              &kp LCTRL         &trans      &lt 5 SPACE                                    &lt 5 SPACE  &trans    &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        function_layer {
            display-name = "Fn";
            bindings = <
&kp ESC   &kp F1      &kp F2            &kp F3        &kp F4  &kp F5                          &kp PAGE_UP             &kp F6           &kp F7          &kp F8           &kp F9   &kp F10  &kp F11
&kp CAPS  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT    &trans  &trans                &kp HOME  &mkp MCLK      &kp END  &kp HOME         &kp PAGE_UP     &kp PAGE_DOWN    &kp END  &trans   &kp F12
&trans    &kp C_MUTE  &kp C_VOL_DN      &kp C_VOL_UP  &trans  &trans  &kp C_MUTE              &kp PAGE_DOWN           &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &kp INS  &trans   &trans
                                        &kp LCTRL     &trans  &trans                                                  &trans           &kp C_MENU      &kp LEFT_ALT
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        board_layer {
            display-name = "Board";
            bindings = <
&sys_reset      &bootloader   &studio_unlock  &out OUT_TOG  &to 0         &to 1                                       &kp PAGE_UP                     &trans  &trans  &out OUT_TOG     &studio_unlock   &bootloader  &sys_reset
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &mmv MOVE_LEFT  &mkp MCLK      &mmv MOVE_RIGHT  &trans  &trans  &trans           &trans           &trans       &trans
&trans          &trans        &trans          &trans        &trans        &trans        &kp C_MUTE                    &kp PAGE_DOWN                   &trans  &trans  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &trans       &trans
                                              &trans        &trans        &trans                                                                      &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        rgb_layer {
            bindings = <
&rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(30,100,50)  &rgb_ug RGB_COLOR_HSB(60,100,50)  &rgb_ug RGB_COLOR_HSB(90,100,50)  &rgb_ug RGB_COLOR_HSB(120,100,50)  &rgb_ug RGB_COLOR_HSB(150,100,50)                             &rgb_ug RGB_BRI                   &rgb_ug RGB_COLOR_HSB(180,100,50)  &rgb_ug RGB_COLOR_HSB(210,100,50)  &rgb_ug RGB_COLOR_HSB(240,100,50)  &rgb_ug RGB_COLOR_HSB(270,100,50)  &rgb_ug RGB_COLOR_HSB(300,100,50)  &rgb_ug RGB_COLOR_HSB(330,100,50)
&rgb_ug RGB_COLOR_HSB(0,100,35)  &rgb_ug RGB_COLOR_HSB(30,100,35)  &rgb_ug RGB_COLOR_HSB(60,100,35)  &rgb_ug RGB_COLOR_HSB(90,100,35)  &rgb_ug RGB_COLOR_HSB(120,100,35)  &rgb_ug RGB_COLOR_HSB(150,100,35)            &rgb_ug RGB_SPD  &rgb_ug RGB_TOG  &rgb_ug RGB_SPI  &rgb_ug RGB_COLOR_HSB(180,100,35)  &rgb_ug RGB_COLOR_HSB(210,100,35)  &rgb_ug RGB_COLOR_HSB(240,100,35)  &rgb_ug RGB_COLOR_HSB(270,100,35)  &rgb_ug RGB_COLOR_HSB(300,100,35)  &rgb_ug RGB_COLOR_HSB(330,100,35)
&rgb_ug RGB_COLOR_HSB(0,100,15)  &rgb_ug RGB_COLOR_HSB(30,100,15)  &rgb_ug RGB_COLOR_HSB(60,100,15)  &rgb_ug RGB_COLOR_HSB(90,100,15)  &rgb_ug RGB_COLOR_HSB(120,100,15)  &rgb_ug RGB_COLOR_HSB(150,100,15)  &trans                     &rgb_ug RGB_BRD                   &rgb_ug RGB_COLOR_HSB(180,100,15)  &rgb_ug RGB_COLOR_HSB(210,100,15)  &rgb_ug RGB_COLOR_HSB(240,100,15)  &rgb_ug RGB_COLOR_HSB(270,100,15)  &rgb_ug RGB_COLOR_HSB(300,100,15)  &rgb_ug RGB_COLOR_HSB(330,100,15)
                                                                                                     &trans                            &trans                             &trans                                                                                          &rgb_ug RGB_EFF                    &rgb_ug RGB_HUD                    &rgb_ug RGB_SAI
            >;

            label = "RGB";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        board_left_win {
            if-layers = <2 5>;
            then-layer = <6>;
        };

        board_right {
            if-layers = <4 5>;
            then-layer = <6>;
        };

        board_left_mac {
            if-layers = <5 3>;
            then-layer = <6>;
        };
    };
};
